{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">
    
    {% for product in products %}
	<div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
        
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Ajouter au Panier</button>
                <a class="btn btn-outline-secondary " href="{{product.id}}">Voir</a><hr>
                <h4 style="display: inline-block; float: left">{{product.price|floatformat:0}}F</h4><br>
        
            </div>
	</div>
    {% endfor %}

</div>

{% endblock content %}

