{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- ///File: store/templates/store/cart.html -->
<!-- 
<div class="row">
    <div class="col-lg-6">
        <div>
            <img src="{{ product.imageURL }}" width="350px" height="350px" alt="">
        </div>
    </div>
    <div class="col-lg-6">
        <div class=" display-4">
            {{ product.name }}
        </div><hr>
        <div class=" ">
           <strong>Prix : </strong>  {{product.price|floatformat:0}}F
        </div><hr>
        <div>
            <strong>Description : </strong>  {{ product.description }}
        </div><hr>
      
      
         <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Ajouter au Panier</button><hr>

    </div>
</div> -->
 <div class="row">
	<div class="col-lg-12">
       
		<div class="d-flex box-element" >
            <div class="" >
                <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Retour au Panier</a>
                </div>
            <div class="col-lg-5">
                <div>
                    <img src="{{ product.imageURL }}" width="350px" height="350px" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" display-4">
                    {{ product.name }}
                </div><hr>
                <div class=" ">
                   <strong>Prix : </strong>  {{product.price|floatformat:0}}F
                </div><hr>
                <div>
                    <strong>Description : </strong>  {{ product.description }}
                </div><hr>
                <!-- <a href="#"><button class="btn btn-success">Acheter</button></a>
                 -->
                 <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Ajouter au Panier</button><hr>
        
            </div>
        </div>

		<br>
	
	</div>
     
</div> 



{% endblock content %}